@mixin userSelectNone{
	user-select: none;
	-moz-user-select: none;
	-webkit-user-select: none;
	-ms-user-select: none;
}

@mixin notDraggable{
	user-drag: none;
	-webkit-user-drag: none;
}

@mixin spinner($color: white, $size: 32px, $display: inline-block, $border-width: 3px){
	display: $display;
	background-color: transparent;
	border: $border-width solid $color;
	border-top-color: transparent;
	border-right-color: transparent;
	width: $size;
	height: $size;
	border-radius: 50%;
	animation: spinner-animation 0.65s infinite linear;

	@keyframes spinner-animation{
		0%{
			transform: rotate(0deg);
		}

		100%{
			transform: rotate(360deg);
		}
	}
}
