@import "./import/global.scss";
@import "./import/nav.scss";

main{
	display: flex;
	flex-direction: row;
	justify-content: space-around;
	align-items: flex-start;
	margin-top: 40pt;

	@media screen and (max-width: $mobileSize){
		flex-direction: column;
	}

	article{
		display: flex;
		flex-direction: column;
		justify-content: center;
		align-items: center;
		flex: 1;

		$width: 400pt;

		section:nth-of-type(1){
			display: inline-block;
			font-size: 56pt;
			font-weight: bold;
			text-align: left;
			max-width: $width;
			word-break: normal;

			@media screen and (min-width: $mobileSize) and (max-width: $mediumSize){
				min-height: 300px;
			}

			@media screen and (max-width: $mediumSize){
				display: flex;
				width: 100%;
				max-width: 500px;
				font-size: clamp(18px, 11vw, 56pt);
				padding: 0 8pt;
				align-items: center;
			}
		}

		section:nth-of-type(2){
			margin: 40pt 0;

			form label{
				$height: 80pt;

				display: flex;
				justify-content: center;
				align-items: center;
				background-color: $secondaryColor;
				box-shadow: 5px 5px 0 $terciaryColor;
				font-size: 30pt;
				font-weight: 600;
				width: $width;
				height: $height;
				border-radius: $height;
				cursor: pointer;
				overflow: hidden;
				white-space: nowrap;
				text-overflow: clip;

				input{
					display: none;
					appearance: none;
					visibility: hidden;
					height: 0;
					width: 0;
					opacity: 0;
					pointer-events: none;
					float: right;
				}
			}

			#info{
				background: $terciaryColor;
				background: linear-gradient(150deg, $terciaryColor 58%, rgba($color: $terciaryColor, $alpha: 0.3));
				margin: 20pt 4pt 0;
				padding: 8pt;
				max-width: $width;
				border-radius: 8pt;
				font-family: Verdana, Geneva, Tahoma, sans-serif;

				p{
					padding: 4pt 0;

					span:last-child{
						font-weight: 600;
						overflow: hidden;
						white-space: nowrap;
						text-overflow: ellipsis;
					}
				}

				input.date,
				select{
					padding: 2pt 4pt;
				}

				input.submit{
					display: block;
					background-color: $secondaryColor;
					padding: 4pt 12pt;
					margin: 8pt auto 0;
					border-radius: 4pt;
				}

				input.date::-webkit-calendar-picker-indicator,
				input.submit,
				select{
					cursor: pointer;
				}
			}

			@media screen and (max-width: $mobileSize){
				display: flex;
				align-items: center;
				flex-direction: column;
				margin: 20pt 0;

				$width: calc(100% - 12pt);

				form label{
					width: $width;
					font-size: 5vw;
					height: auto;
					padding: 8pt 24pt;
				}

				#info{
					width: $width;
					max-width: none;
					margin: 20pt 0;

					p, input, select{
						font-size: 14px;
					}

					p > *{
						display: inline-block;

						&:last-child{
							float: right;
							width: 50%;
						}
					}
				}
			}

			@media screen and (max-width: 300px){
				#info{
					p, input, select{
						font-size: 11px;
					}
				}
			}
		}
	}

	aside{
		display: flex;
		flex-direction: row;
		justify-content: center;
		align-items: center;
		flex: 1;
		margin: auto 0;

		img{
			width: 600px;
			border-radius: 20px;
			aspect-ratio: 5 / 4;
		}

		@media screen and (max-width: $mediumSize){
			display: none;
		}
	}
}
