nav
	header
		a(href="/")
			img(src="images/logo.svg" alt="Logotipo do site" draggable="false")
			span Flash

	div.icons
		div#notifications
			span.icon.material-symbols-outlined(aria-label="Notificações" class = notifications.unread && "fill")
				if notifications.unread
					| notifications_active
				else
					| notifications

			div.content.hidden
				p.title Notificações
				hr

				//- each notification in notifications.list
					//- p notification.title
					//- p notication.body
					//- if notification.unread

		a(href="/documents" aria-label="Documentos")
			span.icon.material-symbols-outlined description
		a(href="/login" aria-label="Sair da conta")
			span.icon.material-symbols-outlined logout

	div.icons.mobile
		span.icon.material-symbols-outlined(aria-label="Menu") menu

		//- TODO: Implement notifications here
		div.content.hidden
			a(href="/documents" aria-label="Documentos")
				span.icon.material-symbols-outlined description
				| Documentos
			a(href="/login" aria-label="Sair da conta")
				span.icon.material-symbols-outlined logout
				| Sair da conta
