doctype html
html(lang="pt-BR")
	head
		- const description = "Página inicial"
		- const title = `${websiteName} - Página inicial`

		include include/head

		script(src="scripts/index.js" async)
		link(rel="stylesheet" href="styles/index.css")
		link(rel="preload" href="images/logo.svg" type="image/svg+xml" as="image")
		link(rel="preload" href="images/documents.png" type="image/png" media="(min-width: 1280px)" as="image")

		include include/head-end
	body
		include include/nav

		main
			article
				section Busque com rapidez e facilidade!
				section
					form(method="post" action="api/upload" name="upload" enctype="multipart/form-data")
						label(tabindex="0") Enviar documento
							input(tabindex="-1" type="file" name="file" aria-hidden="true" multiple)

			aside
				img(src="images/documents.png" alt="Ilustração de documentos" loading="lazy")

		//- Non-blocking styles
		link(rel="stylesheet" href="styles/overflow.css")
