doctype html
html(lang="pt-BR")
	head
		include include/head
		title Flash &raquo; Página Inicial
		link(rel="stylesheet" href="styles/index.css")
		script(src="scripts/index.js" async)
	body
		include include/nav

		main
			article
				section Busque com rapidez e facilidade!
				section
					form(method="post" action="api/upload" name="upload" enctype="multipart/form-data")
						label Enviar documento
							input(type="file" name="file" aria-hidden="true")

			aside
				img(src="images/documents.png" alt="Ilustração de documentos" loading="lazy")
