doctype html
html(lang="pt-BR")
	head
		include include/head
		title Flash &raquo; Login
		link(rel="stylesheet" href="/styles/login.css")
		// script(src="scripts/login.js" defer)
	body
		include include/nav

		main
			article
				//- Mensagem de login
				section
			aside
				//- Campo para fazer login
				form(method="post" action="/api/login" name="login")
					label Usuário
						input(type="text" name="username")
					label
						input(type="password" name="password")
