doctype html
html(lang="pt-BR")
	head
		- const description = "Página de login"
		- const title = `${websiteName} - Login`

		include include/head

		script(src="scripts/login.js" async)
		link(rel="stylesheet" href="/styles/login.css")
		link(rel="preload" href="images/logo.svg" type="image/svg+xml" as="image")

		include include/head-end
	body
		main
			section
				img(src="/images/logo.svg" alt="Logotipo do site" draggable="false")
				span Flash
			section
				form(method="post" action="/api/login" name="login")
					fieldset
						label
							span Usuário
							input.no-outline(type="text" name="username")
						label
							span Senha
							input.no-outline(type="password" name="password")

					button.no-outline.submit(type="submit") Entrar
