doctype html
html(lang="pt-BR")
	head
		include include/head
		meta(property="og:title" content="Flash - Login")
		title Flash &raquo; Login
		link(rel="stylesheet" href="/styles/login.css")
		//- script(src="scripts/login.js" async)
	body
		main
			section
				img(src="/images/logo.svg" alt="Logotipo do site" draggable="false")
				span Flash
			section
				form(method="post" action="/api/login" name="login")
					fieldset
						label
							span Usuário
							input(type="text" name="username")
						label
							span Senha
							input(type="password" name="password")

					input(type="submit" class="submit" value="Entrar")
