@use "../import/variables";
@use "../import/mixins";

main.main,
main.list{
	display: flex;
	flex-direction: column;
	align-items: flex-start;
	margin-top: 40pt;
	gap: 12pt;

	header{
		width: 100%;
		display: flex;
		flex-direction: row;
		justify-content: center;
		align-items: center;
		margin-bottom: 12pt;
		padding: 0 8pt;
		gap: 4pt;

		h1{
			font-size: 30pt;
			font-weight: 600;
		}
	}

	> p{
		width: 100%;
		text-align: center;
		font-size: larger;
		color: var(--font-secondary-color);
	}
}

main.list{
	padding: 0 8pt 12pt;

	header h2{
		color: var(--font-secondary-color);
		font-size: 14pt;
		font-weight: 500;
		line-height: 30pt;
		text-transform: uppercase;
		align-self: end;
	}

	table{
		@include mixins.gradientBackground;

		width: 100%;
		border-radius: 4pt;
		border-spacing: 12pt 8pt;

		@media screen and (max-width: variables.$mobileSize){
			border-spacing: 8pt 4pt;
			font-size: small;
		}

		thead tr td,
		tbody tr td:not(.filename){
			text-align: center;
		}

		tbody tr td{
			&.edit{
				width: 14pt;

				:global .icon{
					font-variation-settings: "FILL" 1, "wght" 400, "GRAD" 0, "opsz" 48;
					font-size: 14pt;
					cursor: pointer;

					&:hover{
						filter: brightness(80%);
					}
				}
			}

			&.filename{
				word-break: break-all;

				a{
					color: var(--link-color);
				}
			}
		}
	}
}

.folders{
	display: flex;
	flex-direction: column;
	justify-content: flex-start;
	align-items: stretch;
	padding: 0 8pt 12pt;
	width: 100%;
	gap: 12pt;

	.folder{
		@include mixins.gradientBackground;

		display: flex;
		flex-direction: column;
		align-items: stretch;
		border-radius: 4pt;
		padding: 12pt 8pt;
		gap: 8pt;

		> .header{
			:global .icon{
				font-variation-settings: "FILL" 0, "wght" 600, "GRAD" 0, "opsz" 64;
			}

			> a{
				display: flex;
				flex-direction: row;
				align-items: stretch;
				gap: 4pt;

				.title{
					font-weight: 600;
				}
			}
		}

		.content{
			padding: 2pt 8pt;

			> .header{
				color: var(--font-secondary-color);
				text-align: center;
			}

			> .file{
				@include mixins.textEllipsis;

				display: block;
				color: var(--font-secondary-color);
			}

			> .more{
				display: flex;
				align-items: center;
				flex-direction: row;
				gap: 4pt;

				:global .icon{
					font-size: inherit;
				}
			}
		}
	}

	a{
		text-decoration: none;
		color: inherit;
	}
}

.overflow{
	@import "../import/overflow.module.scss";
}
