@use "../import/variables";
@use "../import/mixins";
@use "../import/documents.module.scss" as documents;

main.main,
main.list{
	@include documents.main;
	@include documents.heading;
}

main.list{
	header{
		h2{
			color: var(--font-secondary-color);
			font-size: 14pt;
			font-weight: 500;
			line-height: 30pt;
			text-transform: uppercase;
			align-self: end;
		}

		@media screen and (max-width: variables.$mobileSize){
			flex-direction: column;

			h2{
				align-self: center
			}
		}
	}

	@include documents.table;
}

.folders{
	display: flex;
	flex-direction: column;
	justify-content: flex-start;
	align-items: stretch;
	width: 100%;
	gap: 12pt;

	.folder{
		@include mixins.gradientBackground;

		display: flex;
		flex-direction: column;
		align-items: stretch;
		border-radius: 4pt;
		padding: 12pt 8pt;
		gap: 8pt;

		> .header{
			:global .icon{
				font-variation-settings: "FILL" 0, "wght" 600, "GRAD" 0, "opsz" 64;
			}

			> a{
				display: flex;
				flex-direction: row;
				align-items: stretch;
				gap: 4pt;

				.title{
					font-weight: 600;
				}
			}
		}

		.content{
			padding: 2pt 8pt;

			> .header{
				color: var(--font-secondary-color);
				text-align: center;
			}

			> .file{
				@include mixins.textEllipsis;

				display: block;
				color: var(--font-secondary-color);
			}

			> .more{
				display: flex;
				align-items: center;
				flex-direction: row;
				gap: 4pt;

				:global .icon{
					font-size: inherit;
				}
			}
		}
	}

	a{
		text-decoration: none;
		color: inherit;
	}
}

.overflow{
	@import "../import/overflow.module.scss";
}
