@use "../import/variables";
@use "../import/mixins";

main.main{
	display: flex;
	flex-direction: row;
	justify-content: space-around;
	align-items: center;
	margin-top: 40pt;

	@media screen and (max-width: variables.$mobileSize){
		flex-direction: column;
	}

	article.content{
		display: flex;
		flex-direction: column;
		justify-content: center;
		align-items: center;
		flex: 1;

		section.title{
			display: inline-block;
			font-size: 56pt;
			font-weight: 700;
			text-align: left;
			max-width: clamp(400px, 50vw, 500px);
			word-break: normal;

			@media screen and (min-width: variables.$mobileSize) and (max-width: #{variables.$largeSize - 1px}){
				min-height: 300px;
			}

			@media screen and (max-width: #{variables.$largeSize - 1px}){
				display: flex;
				width: 100%;
				max-width: 500px;
				font-size: 58px;
				padding: 0 8pt;
				align-items: center;
			}

			@media screen and (max-width: 400px){
				font-size: 42px;
			}
		}

		section.button{
			margin: 40pt 0;

			@media screen and (max-width: variables.$mobileSize){
				display: flex;
				align-items: center;
				flex-direction: column;
				margin: 20pt 0;
			}

			form label{
				$height: 45pt;

				display: flex;
				justify-content: center;
				align-items: center;
				background-color: var(--secondary-color);
				box-shadow: 2px 2px 3px var(--terciary-color);
				font-size: 32px;
				font-weight: 600;
				width: clamp(400px, 50vw, 500px);
				height: $height;
				border-radius: $height;
				cursor: pointer;
				overflow: hidden;
				white-space: nowrap;
				text-overflow: clip;

				@media screen and (max-width: variables.$mobileSize){
					padding: 8pt 24pt;
					font-size: 25px;
				}

				@media screen and (max-width: 400px){
					font-size: 20px;
					width: calc(100% - 12pt);
				}

				input{
					display: none;
					appearance: none;
					visibility: hidden;
					height: 0;
					width: 0;
					opacity: 0;
					pointer-events: none;
					float: right;
				}
			}
		}
	}

	aside.image{
		display: flex;
		flex-direction: row;
		justify-content: center;
		align-items: center;
		flex: 1;
		margin: auto 0;

		img{
			height: min(480px, 65vh);
			max-width: 600px;
			border-radius: 8px;
			aspect-ratio: 5 / 4;
		}

		@media screen and (max-width: #{variables.$largeSize - 1px}){
			display: none;
		}
	}
}

.overflow{
	@import "../import/overflow.module.scss";

	> .content{
		.files{
			@include mixins.formLayout;

			display: flex;
			width: calc(100% - 8pt);
			flex-direction: column;
			align-items: center;
			justify-content: center;
			padding: 8pt 4pt;
			gap: 4pt;

			.file{
				position: relative;
				width: 100%;
				display: flex;
				flex-direction: column;
				align-items: center;
				padding: 8pt 4pt;
				border-top: 1px solid var(--font-color);
				gap: 4pt;

				.checkbox{
					padding: 4pt 0;

					label{
						@include mixins.userSelectNone;

						position: relative;
						justify-content: flex-start;
						line-height: 1.2em;
						gap: 4pt;

						input{
							appearance: none;
							margin: 0;
							padding: 0;
							flex: 14pt 0;

							&::after{
								content: "";
								display: block;
								position: absolute;
								background-color: inherit;
								text-align: center;
								font-size: 16pt;
								line-height: 1;
								border-radius: 4pt;
								top: 0;
								left: 0;
								margin: auto;
								width: 14pt;
								height: 14pt;
								cursor: pointer;
							}

							&:checked::after{
								background-color: var(--secondary-constrast-color);
							}

							&::after{
								box-shadow: 0 0 3px black;
							}

							&:checked:hover::after{
								box-shadow: 0 0 3px var(--secondary-constrast-color);
							}

							&:hover::after{
								filter: brightness(120%);
							}

							&:focus-visible::after{
								border: 1px solid var(--font-color);
							}
						}
					}
				}

				.delete{
					background-color: var(--remove-button);
					width: clamp(150px, 80%, 300px);
					margin: 4pt 0;
					display: flex;
					justify-content: center;
					align-items: center;
					border-radius: 8pt;
					padding: 2pt 4pt;
					gap: 8pt;
					cursor: pointer;

					&:hover{
						filter: brightness(80%);
						box-shadow: 0 0 5px black;
					}

					:global .icon{
						font-variation-settings: "FILL" 0, "wght" 400, "GRAD" 0, "opsz" 48;
					}
				}

				.error{
					color: var(--error-color);
					text-align: center;
					font-weight: 500;
				}
			}
		}

		.submit .progress{
			$color: darken(gray, 20%);

			background-color: $color;
			position: relative;
			display: block;
			width: 100%;
			height: 1.5em;
			margin: 4pt 0 10pt;
			border-radius: 8pt;
			overflow: hidden;

			.bar{
				@include mixins.gradientBackground;

				width: var(--width);
				height: inherit;
				transition: width .3s ease-out;
			}

			.percentage{
				position: absolute;
				left: 50%;
				top: 0%;
				padding: 0;
				line-height: 1.5;
			}
		}
	}
}
