@use "../import/variables";
@use "../import/mixins";

main.main{
	display: flex;
	flex-direction: row;
	justify-content: space-evenly;
	align-items: center;
	width: 100vw;
	height: 100vh;

	@media screen and (max-width: variables.$mediumSize){
		flex-direction: column;
		justify-content: flex-start;
		gap: 48pt;
	}

	section:nth-of-type(1){
		@include mixins.userSelectNone;

		display: flex;
		flex-direction: column;
		align-items: center;

		.image{
			position: relative;
			height: 36pt * 5;
			aspect-ratio: 5 / 4;

			img{
				@include mixins.notDraggable;
			}
		}

		span{
			font-size: 40pt;
			font-weight: 700;
			font-family: var(--logo-font-family);
			text-transform: uppercase;
		}

		@media screen and (max-width: variables.$mediumSize){
			.image{
				height: clamp(200px, calc(100vw - 48pt * 2), 230px);
			}

			span{
				font-size: 36pt;
			}
		}
	}

	section:nth-of-type(2){
		form{
			$inputFontFamily: "Segoe UI", Tahoma, Geneva, Verdana, sans-serif;
			$inputFontSize: 14px;

			background-color: lighten(variables.$primaryColor, 10%);
			display: flex;
			flex-direction: column;
			justify-content: center;
			align-items: center;
			border-radius: 12pt;
			box-shadow: 0 0 8px 2pt #{darken(variables.$secondaryConstrastColor, 54)};
			padding: 16pt 8pt;

			fieldset{
				display: flex;
				flex-direction: column;
				align-items: center;
				gap: 8pt;
				padding: 8pt;

				label{
					@include mixins.userSelectNone;

					font-size: 18pt;
					color: white;
					padding: 4pt;
					cursor: pointer;

					input{
						background-color: transparent;
						display: block;
						padding: 4pt;
						width: 400px;
						border-bottom: 2px solid white;
						border-radius: 2pt;
						font-family: $inputFontFamily;
						font-size: $inputFontSize;
						font-weight: normal;
						transition: ease-out .3s width, ease-in .1s border;

						&:focus{
							border-bottom-color: variables.$secondaryConstrastColor;
						}

						@media screen and (max-width: variables.$mediumSize){
							width: clamp(200px, calc(100vw - 16pt * 2), 500px);
							font-size: calc(1em - 4px);
							font-family: var(--font-family);
						}
					}

					@media screen and (max-width: variables.$mediumSize){
						font-size: 14pt;
						padding: 4pt 0;
					}
				}
			}

			.submit{
				$color: white;
				$height: 24pt;

				background-color: variables.$secondaryConstrastColor;
				display: flex;
				align-items: center;
				flex-direction: column;
				color: $color;
				width: clamp(30px, 50%, 200px);
				height: $height;
				padding: 2pt 0;
				border-radius: 8pt;
				margin: 8pt;
				font-family: $inputFontFamily;
				font-size: $inputFontSize + 4pt;
				font-weight: 600;
				cursor: pointer;

				&:hover{
					background-color: darken(variables.$secondaryConstrastColor, 5%);
				}

				&:focus{
					box-shadow: 1px 1px 5px black;
				}

				.spinner{
					@include mixins.spinner($color, $height - 4pt, block);
				}

				@media screen and (max-width: variables.$mediumSize){
					width: clamp(30px, 50%, 200px);
				}
			}

			@media screen and (max-width: variables.$mediumSize){
				padding: 8pt 2pt;
			}
		}
	}
}
