@use "./import/variables";
@use "./import/mixins";

main.main{
	display: flex;
	flex-direction: column;
	align-items: flex-start;
	margin-top: 40pt;
}

.user_management{
	width: 100%;
	padding: 0 8pt;

	header .title{
		display: flex;
		justify-content: flex-start;
		align-items: center;
		font-weight: 600;
		margin-bottom: 12pt;
		line-height: 100%;
		gap: 5px;
	}

	@media screen and (max-width: variables.$mobileSize){
		padding: 0 10pt;
	}

	.users{
		display: grid;
		grid-template-columns: repeat(auto-fit, minmax(230px, 320px));
		width: 100%;
		gap: 8pt;

		$headerPadding: 4pt 0;

		@media screen and (max-width: variables.$mobileSize){
			display: flex;
			flex-direction: column;
			grid-template-columns: none;
		}

		.cell{
			background-color: var(--background-dark);
			border-radius: 4pt;
			min-height: 200px;

			.header,
			.form,
			.controls{
				margin: 0 4pt;
			}

			.form,
			.controls{
				display: flex;
				flex-direction: column;
				padding: 4pt 0;
				gap: 4pt;
			}

			.header{
				@include mixins.userSelectNone;

				display: flex;
				align-items: center;
				justify-content: flex-start;
				border-bottom: 1px solid var(--font-secondary-color);
				padding: $headerPadding;
				gap: 4pt;

				.username{
					flex: 1;
				}

				.remove{
					background-color: var(--remove-button);
					border-radius: 4pt;
					transform: scale(0.9);
					cursor: pointer;

					&:hover{
						filter: brightness(110%);
						box-shadow: 1px 1px 3px black;
					}
				}
			}
		}

		.user .controls{
			height: calc(100% - #{nth($headerPadding, 1) * 2 + 24px} - 4pt); // 100% - header - margin
			align-items: start;

			.label{
				padding: 0 4pt;

				span{
					@include mixins.textEllipsis;
					width: 50px;
				}

				.password{
					cursor: pointer;

					&.disc{
						-webkit-text-security: disc;
					}
				}
			}

			.edit{
				background-color: var(--background-dark-light);
				width: 120px;
				border-radius: 8pt;
				padding: 2pt 0;
				align-self: center;
				cursor: pointer;

				&:hover,
				&:focus{
					cursor: pointer;
					filter: brightness(120%);
					box-shadow: 0 1px 3px black;
				}
			}
		}

		.add{
			.header{
				cursor: pointer;

				&:hover{
					filter: brightness(80%);
				}
			}
		}
	}
}

.overflow{
	@import "../import/overflow.module.scss";
}

.user_management .form,
.overflow .form{
	label{
		&:has(:global .icon) input{
			padding-right: calc(24px + 8pt);
		}

		input[name=access]{
			text-transform: lowercase;
		}
	}

	:global .icon{
		@include mixins.userSelectNone;

		position: absolute;
		top: 2pt;
		right: 4pt;
		bottom: 2pt;

		&:hover{
			filter: brightness(0.8);
			cursor: pointer;
		}
	}
}

.user_management .form{
	@include mixins.formLayout;

	label{
		span{
			flex: 75px 0;
		}

		input{
			max-width: none;
			flex: 1;
		}
	}

	.submit{
		justify-content: center;

		button{
			$height: 28px;

			background-color: #284e28;
			border-radius: 2pt;
			margin: 4pt 0;
			height: $height;
			width: 60px;
			text-align: center;

			&:hover,
			&:focus{
				cursor: pointer;
				filter: brightness(0.9);
				box-shadow: 0 1px 3px black;
			}

			.spinner{
				@include mixins.spinner(var(--font-color), calc(#{$height} - 6pt), block, 1px);

				display: inline-block;
				vertical-align: middle;
			}
		}
	}
}
