@use "import/variables";
@use "import/mixins";

main.main,
main.list{
	display: flex;
	flex-direction: column;
	align-items: flex-start;
	padding: 0 8pt 12pt;
	margin-top: 40pt;
	gap: 12pt;

	header{
		width: calc(100% - 8pt * 2);
		display: flex;
		flex-direction: row;
		justify-content: center;
		align-items: center;
		margin-bottom: 12pt;
		padding: 0 8pt;
		gap: 4pt;

		h1{
			font-size: 30pt;
			font-weight: 600;
		}
	}

	> p{
		width: 100%;
		text-align: center;
		font-size: larger;
		color: var(--font-secondary-color);

		&.error{
			color: var(--error-color);
		}
	}
}

main.list{
	header{
		h2{
			color: var(--font-secondary-color);
			font-size: 14pt;
			font-weight: 500;
			line-height: 30pt;
			text-transform: uppercase;
			align-self: end;
		}

		@media (max-width: variables.$mobileSize){
			flex-direction: column;

			h2{
				align-self: center
			}
		}
	}

	table{
		@include mixins.gradientBackground;

		width: 100%;
		border-radius: 4pt;
		border-spacing: 12pt 8pt;
		border-collapse: separate;

		@media (max-width: variables.$mobileSize){
			border-spacing: 8pt 4pt;
			font-size: small;
		}

		thead tr td,
		tbody tr td:not(.filename){
			text-align: center;
		}

		tbody tr td{
			&:not(.filename){
				@include mixins.textEllipsis;
			}

			&.edit{
				width: 14pt;
				font-size: 14pt;

				&:hover{
					filter: brightness(80%);
				}
			}

			&.folder{
				min-width: 3em;
				word-break: break-all;
			}

			&.filename{
				word-break: break-all;
			}

			a{
				color: var(--link-color);
			}
		}
	}
}

.folders{
	display: flex;
	flex-direction: column;
	justify-content: flex-start;
	width: 100%;
	gap: 12pt;

	.folder{
		@include mixins.gradientBackground;

		display: flex;
		flex-direction: column;
		border-radius: 4pt;
		padding: 12pt 8pt;
		gap: 8pt;

		> .header{
			> a{
				display: flex;
				align-items: center;
				flex-direction: row;
				gap: 4pt;

				.title{
					font-weight: 600;
				}
			}
		}

		.content{
			padding: 2pt 8pt;

			> .header{
				color: var(--font-secondary-color);
				text-align: center;
			}

			> .file{
				@include mixins.textEllipsis;

				display: block;
				color: var(--font-secondary-color);
				line-height: 1.8em;
			}

			> .more{
				display: flex;
				align-items: center;
				flex-direction: row;
				gap: 4pt;
			}
		}
	}

	a{
		text-decoration: none;
		color: inherit;
	}
}

.overflow{
	@import "import/overflow.module.scss";
}
