@use "import/variables.scss";

@import url("https://fonts.googleapis.com/css2?family=Alata&family=Michroma&family=Poppins:wght@400;500;600;700&display=swap");
@import url("https://fonts.googleapis.com/css2?family=Material+Symbols+Outlined:opsz,wght,FILL,GRAD@20..48,100..700,0..1,-50..200");

:root {
	color-scheme: dark;
	--background: #{variables.$primaryColor};
	--background-dark: #222;
	--background-dark-light: #484848;
	--secondary-color: #{variables.$secondaryColor};
	--terciary-color: #{variables.$terciaryColor};
	--font-color: white;
	--font-secondary-color: #{darken(white, 30%)};
	--link-color: #34aadc;
	--error-color: #ff4646;
	--font-family: Poppins, -apple-system, BlinkMacSystemFont, "Segoe UI", Verdana, Arial, sans-serif;
	--logo-font-family: Michroma, Verdana, Segoe UI, Arial, sans-serif;
}

*{
	border: none;
	margin: 0;
	padding: 0;
	box-sizing: border-box;
	-webkit-tap-highlight-color: transparent;
}

body{
	background-color: variables.$primaryColor;
	font-family: var(--font-family);
	font-size: 16px;
	color: var(--font-color);
}

.no-outline{
	outline: none;
}
