@use "import/variables";
@use "import/mixins";

$height: 36pt;
$logoWidth: $height - 8pt;
$logoFontSize: $logoWidth - 2pt;

nav{
	display: flex;
	flex-direction: row;
	justify-content: space-between;
	align-items: center;
	height: $height;
	padding: 4pt 8pt 0;

	header{
		flex: 1;

		a{
			@include mixins.userSelectNone;

			$spacing: 8pt;
			$gap: 8pt;

			display: flex;
			justify-content: space-evenly;
			flex-direction: row;
			align-items: center;
			padding: 4pt $spacing;
			max-width: $height + $spacing * 2 + $logoFontSize * 5 + $gap;

			text-decoration: none;
			color: inherit;
			cursor: pointer;

			img{
				width: $logoWidth;
				height: $logoWidth;
			}

			span{
				font-size: $logoFontSize;
				line-height: $logoFontSize;
				font-family: var(--logo-font-family);
				text-transform: uppercase;
			}

			&:focus-visible{
				outline: 1px solid var(--font-color);
			}

			@media screen and (max-width: 400px){
				$iconSize: $logoWidth - 8pt;
				$fontSize: $logoFontSize - 8pt;

				justify-content: flex-start;
				gap: 8pt;
				padding: 0 8pt;

				img{
					width: $iconSize;
					height: $iconSize;
				}

				span{
					font-size: $fontSize;
					line-height: $iconSize;
				}
			}
		}
	}

	.icons{
		display: flex;
		flex-direction: row;
		justify-content: space-between;
		gap: 12pt;

		@media screen and (max-width: #{variables.$smallSize - 1px}){
			display: none;
		}

		a{
			color: inherit;
		}

		.icon{
			@include mixins.userSelectNone;

			$weight: 400;

			vertical-align: middle;
			font-variation-settings: "FILL" 0, "wght" $weight, "GRAD" 0, "opsz" 48;
			font-size: $logoFontSize;
			cursor: pointer;

			&.fill{
				font-variation-settings: "FILL" 1, "wght" $weight, "GRAD" 0, "opsz" 48;
			}
		}
	}

	.icons.mobile{
		display: flex;
		position: relative;
		flex-direction: row;
		align-items: center;
		justify-content: space-around;
		gap: 4pt;

		@media screen and (min-width: variables.$smallSize){
			display: none;
		}

		> .icon{
			cursor: pointer;
		}

		.search{
			position: absolute;
			top: calc(100% + 8pt);
			right: 0;
			transition: width .2s cubic-bezier(0.075, 0.82, 0.165, 1);

			&.collapsed{
				&,
				#search input{
					width: 0;
				}

				#search input{
					padding: 0;
				}
			}
		}

		> .content{
			display: flex;
			flex-direction: column;
			gap: 8pt;

			background-color: var(--background-dark);
			box-shadow: 1px 1px 3px black;
			color: var(--font-color);
			position: absolute;
			top: calc(100% + 4pt);
			right: 4pt;
			padding: 8pt;
			border-radius: 4pt;
			width: clamp(150px, 60vw, 400px);
			z-index: 1;

			&.hidden{
				display: none;
			}

			a, div{
				@include mixins.userSelectNone;

				display: flex;
				flex-direction: row;
				align-items: center;
				justify-content: flex-start;
				text-decoration: none;
				gap: 8pt;
				cursor: pointer;

				.icon{
					font-size: 22pt;
				}
			}
		}
	}
}

.notifications{
	position: relative;

	&.mobile{
		position: initial;
	}

	&:not(.mobile) > .content::after{
		content: "";
		position: absolute;
		top: -4px;
		right: 4px;
		width: 20pt;
		aspect-ratio: 1;
		background-color: inherit;
		transform: rotate(45deg);
		border-top-right-radius: 100%;
		border-bottom-right-radius: 100%;
		border-bottom-left-radius: 100%;
		z-index: -1;
	}

	> .content{
		background-color: var(--background-dark);
		width: 260pt;
		position: absolute;
		top: calc(100% + 8pt);
		right: 0;
		padding: 4pt 4pt;
		border-radius: 4pt;
		font-size: 0.9em;

		&.hidden{
			display: none;
		}

		@media screen and (max-width: 365px){
			width: max(200px, calc(100vw - 8pt * 2));
		}

		> p{
			text-align: center;
			padding: 4pt 0;

			&.title{
				font-size: larger;
			}

			&.error{
				color: var(--error-color);
			}

			&.more{
				color: var(--font-secondary-color);
			}
		}

		hr{
			margin: 4pt 0;
			border: 1px solid var(--font-color);
		}

		.notification{
			width: calc(100% - 8pt);
			margin: auto;

			.title{
				@include mixins.textEllipsis;

				font-weight: 600;

				&:hover{
					color: var(--link-color);
					cursor: pointer;
				}

				a{
					color: inherit;
					text-decoration: none;
				}
			}

			.content{
				font-size: 0.9em;
				line-height: 1.5em;
			}

			&:not(:first-of-type){
				margin-top: 4pt;
				padding-top: 4pt;
				border-top: 1px solid var(--font-secondary-color);
			}
		}
	}
}

#search{
	$searchIconSize: $logoFontSize - 4pt;
	$searchIconSpacing: 2pt;
	$background: white;
	$color: black;

	height: 100%;
	position: relative;
	align-self: center;

	input{
		@include mixins.fixAutofill($background, $color, inherit);

		width: clamp(200px, 60vw, 400px);
		height: 100%;
		background-color: $background;
		display: block;
		font: inherit;
		color: $color;
		border-radius: 4pt;
		padding: 4pt calc(4pt + $searchIconSpacing + $searchIconSize) 4pt 8pt;

		&::placeholder{
			color: lighten($color, 40);
		}

		@media screen and (min-width: variables.$smallSize) and (max-width: variables.$mediumSize){
			width: min(400px, 35vw);
		}

		@media screen and (min-width: variables.$mediumSize){
			width: clamp(400px, 25vw, 600px);
		}

		&::-webkit-search-cancel-button{
			display: none;
		}
	}

	.icon{
		position: absolute;
		top: $searchIconSpacing;
		right: $searchIconSpacing;
		color: $color;
		cursor: pointer;
		font-size: $searchIconSize;
	}
}
