@use "mixins.scss";
@use "variables.scss";
@import url("https://fonts.googleapis.com/css2?family=Material+Symbols+Outlined:opsz,wght,FILL,GRAD@20..48,100..700,0..1,-50..200");

nav{
	$height: 32pt;
	$logoWidth: $height - 8pt;
	$logoFontSize: $logoWidth - 2pt;
	$iconSize: $height - 6pt;
	$menuWidth: 260pt;

	display: flex;
	flex-direction: row;
	justify-content: space-between;
	align-items: center;
	height: $height;
	padding: 0 8pt;

	header{
		flex: 1;

		a{
			@include mixins.userSelectNone;

			$spacing: 8pt;
			$gap: 8pt;

			display: flex;
			justify-content: space-evenly;
			flex-direction: row;
			align-items: center;
			padding: 4pt $spacing;
			max-width: $height + $spacing * 2 + $logoFontSize * 5 + $gap;

			text-decoration: none;
			color: inherit;
			cursor: pointer;

			img{
				width: $logoWidth;
				height: $logoWidth;
			}

			span{
				font-size: $logoFontSize;
				line-height: $logoFontSize;
				font-family: variables.$logoFontFamily;
				text-transform: uppercase;
			}
		}
	}

	.icons{
		display: flex;
		flex-direction: row;
		justify-content: space-between;
		gap: 12pt;

		@media screen and (max-width: variables.$mobileSize){
			display: none;
		}

		&.mobile{
			display: none;
			position: relative;

			@media screen and (max-width: variables.$mobileSize){
				display: block;
			}

			> .icon{
				cursor: pointer;
			}

			.content{
				display: flex;
				flex-direction: column;
				gap: 8pt;

				background-color: white;
				color: black;
				position: absolute;
				top: 100%;
				right: 4pt;
				padding: 8pt;
				border-radius: 12pt;
				width: 50vw;

				&.hidden{
					display: none;
				}

				a{
					display: flex;
					flex-direction: row;
					align-items: center;
					justify-content: flex-start;
					text-decoration: none;
					gap: 8pt;
					cursor: pointer;

					.icon{
						font-size: 22pt;
					}
				}
			}
		}

		a{
			color: inherit;
		}

		.icon{
			@include mixins.userSelectNone;

			$weight: 500;

			font-variation-settings: "FILL" 0, "wght" $weight, "GRAD" 0, "opsz" 48;
			font-size: $iconSize;
			cursor: pointer;

			&.fill{
				font-variation-settings: "FILL" 1, "wght" $weight, "GRAD" 0, "opsz" 48;
			}
		}

		#notifications{
			position: relative;

			.content{
				background-color: white;
				color: black;
				position: absolute;
				top: 100%;
				right: 0;
				width: $menuWidth;
				border-radius: 4pt;

				&.hidden{
					display: none;
				}

				p.title{
					font-size: larger;
					text-align: center;
					padding: 4pt 0;
				}

				hr{
					margin: 4pt auto;
					border: 1px solid variables.$primaryColor;
					width: calc(100% - 8pt);
				}
			}
		}
	}
}
