$primaryColor: #101728;
$secondaryColor: #121d46;
$terciaryColor: #9340ff;
$fontColor: white;

$mobileSize: 600px;
$mediumSize: 1024px;
$largeSize: 1280px;

$logoFontFamily: Michroma, Verdana, Segoe UI, Arial, sans-serif;
